{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class="wrapper-inputs">
		<h2 class="title">Réinitialisation de mot de passe</h2>
		<div class="input-container">
			{{ form_start(passForm) }}
			<label for="{{ passForm.password.vars.id }}">Nouveau mot de passe</label>
			{{ form_widget(passForm.password, {'attr': {'class': 'form-control'}}) }}
			<p>
				{{ form_errors(passForm.password) }}
			</p>
		</div>
		<div class="input-container">
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</div>
		{{ form_end(passForm) }}
	</section>
{% endblock %}
