{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="wrapper-inputs register">
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}
		<div class="input-container">
			{{ form_row(registrationForm.username) }}
		</div>
		<div class="input-container">
			{{ form_row(registrationForm.email) }}
		</div>
		<div class="input-container">
			{{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
		</div>
		<p>
			{{ form_errors(registrationForm) }}
		</p>
		{% include '_partials/_flash.html.twig' %}
		<button type="submit" class="btn btn-primary">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
