{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<section class="grid-container">
		<div class="container-trick-detail">
			<div class="trick-media-detail">
				{% if trick.mainImage %}
					{% set mainImage = trick.mainImage %}
				{% elseif trick.pictures|length > 0 %}
					{% set mainImage = trick.pictures|first.name %}
				{% else %}
					{% set mainImage = 'image-placeholder.jpg' %}
				{% endif %}
				<img src="{{ asset('assets/trick/' ~ mainImage) }}" alt="{{ trick.name }}">
			</div>
			<div class="trick-info-detail">
				<h2>{{ trick.name }}</h2>
			</div>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="card-actions trick-actions-detail">
					<a href="#">
						<i class="fas fa-pencil-alt"></i>
					</a>
					<a href="#">
						<i class="fa fa-trash-o"></i>
					</a>
				</div>
			{% endif %}
		</div>
		<div class="container-trick-media">
			{% if pictures is not empty %}
				{% for picture in pictures %}
					<div class="list-pictures">
						<img src="{{ asset('assets/trick/' ~ picture.name) }}" alt="{{ trick.name }}">
					</div>
				{% endfor %}
			{% endif %}
			{% if videos is not empty %}
				{% for video in videos %}
					<div class="list-pictures">
						<iframe class="trick-media" width="400" height="350" src="{{video.name}}" encrypted-media; gyroscope; allowfullscreen></iframe>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="container-infos-detail">
			<p>{{ trick.description }}</p>
			<p>Créé par
				{{ user }}</p>
			<div class="infos-date">
				<span>Créé le
					{{ trick.creationDate|date('d/m/Y') }}
					à
					{{ trick.creationDate|date('H:i:s') }}</span>
				{% if trick.category is not empty %}
					<span>{{ category.name }}</span>
				{% endif %}
				{% if trick.updateDate is not empty %}
					<span>Modifié le
						{{ trick.updateDate|date('d/m/Y') }}
						à
						{{ trick.updateDate|date('H:i:s') }}</span>
				{% endif %}
			</div>
		</div>
		<div>
			<div class="wrapper-add-comment">
				<form action="" method="post">
					<div class="input-container">
						<textarea placeholder="Ecrivez un commentaire..." name="content" id="content" required></textarea>
						<button class="btn-primary btn" type="submit">Laisser un commentaire</button>
					</div>
				</form>
			</div>
			{% include 'comment/index.html.twig' %}
		</div>
	</section>
{% endblock %}
