{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<section>
		<div class="container-trick">
			<div class="trick-media">
				<img src="{{ asset('assets/trick/' ~ trick.mainImage) }}" alt="{{ trick.name }}">
			</div>
			<div class="trick-info">
				<h2>{{ trick.name }}</h2>
			</div>
			<div class="trick-actions">
				<a href="#">
					<i class="fas fa-pencil-alt"></i>
				</a>
				<a href="#">
					<i class="fa fa-trash-o"></i>
				</a>
			</div>
		</div>
		<div class="container-infos">
			<p>{{ trick.description }}</p>
			<div>
				<p>Créé le
					{{ trick.creationDate|date('d/m/Y') }}
					à
					{{ trick.creationDate|date('H:i:s') }}</p>
			</div>
		</div>
		<div>
			<div class="wrapper-add-comment">
				<form action="" method="post">
					<div class="input-container">
						<textarea placeholder="Ecrivez un commentaire..." name="content" id="content" required></textarea>
						<button class="btn-primary btn" type="submit">Laisser un commentaire</button>
					</div>
				</form>
			</div>
			<div class="comments-list">
				{% include 'comment/index.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
