{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<section class="grid-container">
		<div class="container-trick-detail">
			<div class="trick-media-detail">
				<img src="{{ asset('assets/trick/' ~ trick.mainImage) }}" alt="{{ trick.name }}">
			</div>
			<div class="trick-info-detail">
				<h2>{{ trick.name }}</h2>
			</div>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="card-actions trick-actions-detail">
					<a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
					{{ include('trick/_delete_form.html.twig', { trick: trick }) }}
				</div>
			{% endif %}
		</div>
		<div>
			<div class="container-trick-media" id="trick-see-media">
				{% if pictures is not empty %}
					{% for picture in pictures %}
						<div class="list-pictures">
							<img src="{{ asset('assets/trick/' ~ picture.name) }}" alt="{{ trick.name }}">
						</div>
					{% endfor %}
				{% endif %}
				{% if videos is not empty %}
					{% for video in videos %}
						<div class="list-pictures">
							<iframe class="trick-media" src="{{video.name}}" encrypted-media; gyroscope; allowfullscreen></iframe>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<button class="btn" id="seeMedia">Voir les medias</button>
		</div>
		<div class="container-infos-detail" id="confirmation-edit">
			<p>{{ trick.description }}</p>
			<p>Créé par
				{{ user }}</p>
			<div class="infos-date">
				<span>Créé le
					{{ trick.creationDate|date('d/m/Y') }}
					à
					{{ trick.creationDate|date('H:i:s') }}</span>
				{% if trick.category is not empty %}
					<span>{{ category.name }}</span>
				{% endif %}
				{% if trick.updateDate is not empty %}
					<span>Modifié le
						{{ trick.updateDate|date('d/m/Y') }}
						à
						{{ trick.updateDate|date('H:i:s') }}</span>
				{% endif %}
			</div>
		</div>
		<div id="comment-form">
			<div class="center-flash">
				{% include '_partials/_flash.html.twig' %}
			</div>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="wrapper-add-comment">
					{{ form_start(commentForm) }}
					<div class="input-container">
						{{ form_widget(commentForm.content, {'attr': {'class': 'textarea-comment'}}) }}
						<button class="btn" type="submit">Laisser un commentaire</button>
					</div>
					{{ form_end(commentForm) }}
				</div>
			{% else %}
				<button class="btn btn-comments" type="button">
					<a class="link-menu {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}">Connectez-vous pour ajouter un commentaire</a>
				</button>
			{% endif %}
			{% include 'comment/index.html.twig' %}
		</div>
	</section>
{% endblock %}
